.main-content {
  overflow-x: hidden;
}

.page-margin-x, .margin-x {
  margin: 0 42px;
  @media (max-width: 600px) {
    margin: 0 12px
  }

  max-width: 1200px;
  @media (min-width: 1284px) {
    width: 1200px;
    justify-self: center;
    margin: 0 auto;
  }
}

.page-margin-x-wide, .margin-x-wide {
  margin: 0 42px;
  @media (max-width: 600px) {
    margin: 0 12px
  }

  max-width: 1400px;
  @media (min-width: 1484px) {
    width: 1400px;
    justify-self: center;
    margin: 0 auto;
  }
}
